$color-dark-mode: #2b2f44;
$color-dark-mode-light: #242736;
$color-dark-mode-dark: #3a3e55;

$color-light-mode: #FAE5D3;
$color-light-mode-light: #FEF5E7;
$color-light-mode-dark: #FBEEE6;

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #fff;

$color-yellow:#c9a514;
$color-yellow-dark:#ba9915;
$color-yellow-light:#F4D03F;

$color-blush:#bd707e;
$color-blush-dark:#ae6976;
$color-blush-light:#dc8e9c;

$color-blush-grey:#d3c0c4;

$color-demi-grey:#283339;
$color-demi-grey-dark:#222a2f;

$color-demi: #588eaa;
$color-demi-light:#69a5c4;
$color-demi-dark:#466d81;

$color-demi-milk:rgba(215,227,230,1);

$color-camel:#e4d5d0;
$color-camel-light:#cc6d50;
$color-camel-dark:#8f4831;

$color-sand:#f3efea;
$color-sand-dark:#d5c2bc;


$color-pink:#b14e43 ;
$color-pink-dark:#a0483f;


$transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
$mode-width: 3rem;
$mode-height: 1.5rem;

$gutter-vertical: .5%;
$gutter-horizontal: 1.5rem;

$box-shadow:.1rem;
